[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=latest
X-AppImage-Name=SIR Calculator
Version=1.0
Type=Application
Name=SIR Calculator
Comment=SIR model calculator
TryExec=sir_calculator
Exec=sir_calculator
Icon=sir_calculator
Categories=Utility;
